<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 글 목록</title>
<script th:inline="javascript">
	var search = "test";
	function search_set(){
		search = document.getElementById('search').value;
	}
	
	function search_com(){
		location.href = `/reviews/search?search=${search}`;

	}
</script>
<link href="css/nav.css" rel="stylesheet" type="text/css"/>
<link href="css/review.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
</style>
</head>
<body>
<nav th:replace="/header.html :: fragment-nav"></nav>	
<section class="notice">
		<div class="page-title">
			<div class="container">
				<h3>리뷰 게시판</h3>
			</div>
		</div>

		<div id="board-list">
			<div class="container">
				<table class="board-table">
					<thead>
						<tr>
							<th scope="col" class="th-num">글번호</th>
							<th scope="col" class="th-title">제목</th>
							<th scope="col" class="th-writer">작성자</th>
							<th scope="col" class="th-date">작성일</th>
							<th scope="col" class="th-readnum">조회수</th>
							<!-- <th scope="col" class="th-recommend">추천수</th> -->
						</tr>
					</thead>
					<!-- 데이터가 없을 때 -->
					<tr th:if="${#lists.isEmpty(bPage.boardList)}">
						<td colspan="5">작성된 게시글이 존재하지 않습니다.</td>
					</tr>
					<tr th:if="${!#lists.isEmpty(bPage.boardList)}"
						th:each="boardVO : ${bPage.boardList}">
						<td th:text="${boardVO.bNum}"></td>
						<td><a th:href="@{/reviews/read(bNum=${boardVO.bNum})}"
							th:text="${boardVO.bTitle}"></a></td>
						<td th:text="${boardVO.bWriter}"></td>
						<td
							th:text="${#dates.format(boardVO.bWriteDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${boardVO.bReadCount}"></td>
						<!-- <td th:text="${recommend}"></td> -->
					</tr>
				</table>
			</div>
		</div>
		<div id="board-search">
			<div class="container">
				<div class="search-window">
					<div class="search-wrap">
						<label for="search" class="blind">리뷰 검색</label> <input
							onchange="search_set()" id="search" type="search"
							placeholder="검색어를 입력하세요" name="search">
						<button class="btn btn-dark" onclick="search_com()">검색</button>
					</div>
				</div>
			</div>
		</div>


		<!-- 하단 페이지 링크 부분 -->
		<!-- 타임리프에서 페이징처리할 때 html단에서 사용하기 위해 
		numbers.sequence(start,end)형태로 작성 -->
		<div id="page" th:if="${!#lists.isEmpty(bPage.boardList)}"
			th:each="p : ${#numbers.sequence(bPage.startPage,bPage.endPage)}">
			<a id="page-num" th:text="${p}" th:href="@{/reviews(page=${p})}"></a>
		</div>
		<br> <br> <a href="/reviews/write">
			<button>글쓰기</button>
		</a> <br> <a href="/">메인으로 돌아가기</a>
	</section>
</body>
</html>