<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
<link th:href="@{/css/nav.css}" rel="stylesheet"/>
</head>
<body>
<nav th:replace="/header.html :: fragment-nav"></nav>
	<div>
		<h1>아이디 찾기</h1>
		<p>이메일을 입력해주세요!</p>
	</div>
	<div th:text="${message}" th:if="${result==null}">
	</div>

	<form action="FindId" method="post">
		<div>
			<input type="text" name="m_email" placeholder="Enter Email Address">
		</div>
		<input type="submit" value="아이디찾기">
	</form>
	<hr>
		<a href="/">메인페이지</a>

</body>
</html>