<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<h2>로그인 창</h2>
		<p th:if="${message!=null}" th:text="${message}"></p>
		<form action="login" method="post">
			<table>
				<tr>
					<td>아이디 : </td>
					<td><input type="text" name="m_id" size="10" required></td>
				</tr>
				
				<tr>
					<td>비밀번호 : </td>
					<td><input type="password" name="m_pw" size="10" required></td>
				</tr>
				
				<tr>
					<td colspan="2"><input type="submit" value="LOGIN"></td>
				</tr>
			</table>
		</form>
		
	<a href="FindIdForm">아이디 찾기</a>
	<a href="FindPasswordForm">비밀번호 찾기</a>
	</div>

</body>
</html>