<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>쇼핑몰 회원가입</title>
</head>
<body>
	<div>
		<h2>쇼핑몰 회원가입</h2>
		<form action="join" method="post">
			<table>
				<tr>
					<td>아이디 : </td>
					<td><input type="text" name="m_id" size="10" required></td>
				</tr>
				
				<tr>
					<td>비밀번호 : </td>
					<td><input type="text" name="m_pw" size="10" required></td>
				</tr>
				
				<tr>
					<td>전화번호 : </td>
					<td><input type="text" name="m_phone" placeholder="'-'없이 입력하세요"></td>
				</tr>
				
				<tr>
					<td>e-mail : </td>
					<td><input type="text" name="m_email" size="10"></td>
				</tr>
				
				<tr>
					<td>주소 : </td>
					<td><input type="text" name="m_address" size="10"></td>
				</tr>
				
				<tr>
					<td><input type="submit" value="작성완료"></td>
				</tr>
				
			</table>
		</form>
	</div>

</body>
</html>