<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.shop.repository.mapper.OrderMapper">
	
	<!-- 주문내역 작성 -->
	<insert id="insertOrder" parameterType="vo.OrderVO">
		INSERT INTO ORDER_LIST(I_NUM,I_NAME,I_REGISTER,IO_COLOR,IO_OPTION,M_NUM,M_ID,I_PRICE,O_COUNT,O_DELIVERY_FEE,O_PRICE,O_ADDRESS,O_REQUEST,O_STATUS,O_MEMBER_REQUEST)
					VALUES(#{iNum},#{iName},#{iRegister},#{ioColor},#{ioOption},#{mNum},#{mId},#{iPrice},#{oCount},#{oDeliveryFee},#{oPrice},#{oAddress},#{oRequest},#{oStatus},#{oMemberRequest})
	</insert>
	
	<!-- 주문내역 선택 -->
	<select id="selectOrder" resultMap="orderResultMap">
		SELECT * FROM ORDER_LIST WHERE O_NUM=#{oNum}
	</select>

	<select id="selectOrderCount" resultType="int">
		SELECT COUNT(*) FROM ORDER_LIST WHERE I_REGISTER=#{loginId}
	</select>
	
	<select id="selectOrderById" resultMap="orderResultMap">
		SELECT * FROM ORDER_LIST WHERE I_REGISTER=#{loginId} ORDER BY O_NUM DESC LIMIT 1
	</select>
	
	<select id="selectOrderList" resultMap="orderResultMap">
		SELECT * FROM ORDER_LIST WHERE I_REGISTER=#{loginId} ORDER BY O_NUM DESC LIMIT #{startRow},#{count}
	</select>
	
	<update id="updateOrderStatus" parameterType="vo.OrderVO">
		UPDATE ORDER_LIST SET O_STATUS=#{oStatus} WHERE O_NUM=#{oNum}
	</update>

	<update id="updateOrderRequest" parameterType="vo.OrderVO">
		UPDATE ORDER_LIST SET O_MEMBER_REQUEST=#{oMemberRequest} WHERE O_NUM=#{oNum}
	</update>
	<!-- 구매자 주문내역 불러오기 -->
 	<select id="selectMyOrderList" resultMap="orderResultMap">
		SELECT * FROM ORDER_LIST WHERE M_ID=#{loginId} ORDER BY O_NUM DESC LIMIT #{startRow},#{count}
	</select>
	
	<resultMap type="vo.OrderVO" id="orderResultMap">
		<result column="o_num" property="oNum" />
		<result column="o_date" property="oDate" />
		<result column="i_num" property="iNum" />
		<result column="i_name" property="iName" />
		<result column="i_register" property="iRegister" />
		<result column="io_color" property="ioColor" />
		<result column="io_option" property="ioOption" />
		<result column="m_num" property="mNum" />
		<result column="m_id" property="mId" />
		<result column="i_price" property="iPrice" />
		<result column="o_count" property="oCount" />
		<result column="o_delivery_fee" property="oDeliveryFee" />
		<result column="o_price" property="oPrice" />
		<result column="o_address" property="oAddress" />
		<result column="o_request" property="oRequest" />
		<result column="o_status" property="oStatus" />
		<result column="o_member_request" property="oMemberRequest" />
	</resultMap>

</mapper>